/* Cascading Styla Sheets */

body{
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace; 
    margin: 0;
    padding: 0;    
}

ul{
    margin: 0;
    margin-left: 10px;
    margin-right: 5px;
    padding: 0;
}

li{
    list-style: none;
}

header{
    background-color: blueviolet;
    height: 100px;
}

h1{
    float: left;
    /* text-align: center; */
    margin-left: 50px;
    /* margin-top: 30px; */
    margin-right: 50px;
    color: black;
}

nav li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
}

nav li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

nav li a:hover{
    color: white;
    text-decoration: underline;
    font-size: 22px;
}

main{
    width: 960px;
    margin: 30px auto;
    /* min-height: 700px; */
}


#hero{
    width: 960px;
    border: 15px solid blueviolet;
    border-radius: 50px;
}

main li{
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 25px;
}

main li:last-child{
    margin-right: 0;
}

p{
   margin-right: 30px;
   margin-left: 165px;
   margin-top: 370px;

}

footer{
    text-align: center;
    background-color: blueviolet;
    height: 100px;
}

footer p{
    padding-top: 50px;
    margin-top: 20px;
}